{% extends "base.html" %}
{% block content %}
  <div class="large-empty-row">
  </div>
  <div class="jumbotron">
    <h1>Bean Forecast Tool</h1>
    <p>Basic machine learning tool automated for predicting, exploring and visualising data.</p>
  </div>
<body>
  <p>To upload your data and predict with the forecast tool, create an account or log in by clicking the button below</p>
  <p><a href="{{ url_for('users.account')}}" type="button" class="btn btn-primary" > Go to Account</a></p>
</body>
{% endblock %}