{% extends "base.html" %}
{% block content %}

<div class="large-empty-row">
</div>

<title>Only line plots are available. Line plots are best applied on numerical data.</title>
<h2>Select file to upload for plotting.</h2>
<p>
    <form method="post" action="/plot_2" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="inputFiles" multiple="true" autocomplete="off" required>
            </p>
        </dl>
        <br>
        <input type="submit"  onclick="myAnalyser()" class="btn btn-primary" value="Submit">
    </form>
</p>
{% endblock %}



